## IDEs
.idea
.vscode

## Build artifacts
**/CMakeCache.txt
**/CMakeFiles/
*.egg
*.egg-info/
**/__pycache__/
build/
dist/
install/
*.so
*.a
*.o

## Test artifcats
*.log

## External module common locations
external/
third[-_]party/
