## IDEs
.idea
.vscode

## Build artifacts
**/CMakeCache.txt
**/CMakeFiles/
*.egg
*.egg-info/
**/__pycache__/
build/
dist/
install/
*.so
*.a
*.o
*.dll
*.exe
*.lib

## Test artifcats
*.log
*.pth
*.pt

## Images
*.jpg
*.JPG
*.jpeg
*.JPEG
*.png
*.PNG
*.tif
*.TIF
*.tiff
*.TIFF

## External module common locations
external/
third[-_]party/

# Common experiment directories
data*/
dataset*/
checkpoint*/
experiment*/
output*/
